<html {$html_attrs}>
<head>
<title>{$caption clients}</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
{BEGIN style_block}
<style>
#height100{$id} {height:auto;padding:10px;}
/*#search_block{$id} div {padding:5px 7px;}*/
#global_block{$id} {padding:5px 12px;/*min-height:800px;*/ border: 1px solid #516C81;}
#search_block_center{$id} {padding:3px 5px;text-align:center;}
#center_block{$id} {text-align:center;padding:4px;}
#center_block_caption{$id} {text-align:center;padding:4px;}
#left_block{$id} { position:absolute;width:202px; {BEGIN RTL_block} right:20px;{END RTL_block}{BEGIN LTR_block} left:20px;{END LTR_block} overflow:visible; margin-top:10px}
#right_block{$id} { padding:10px 0px 0px 0px;}
{BEGIN shiftstyle_block}
#right_block{$id} {padding-left:220px;{BEGIN RTL_block}padding-left:0px;padding-right:220px;{END RTL_block}}
{END shiftstyle_block}
#toplinks_block{$id} {padding:0 5px 5px 5px;}
#toplinks_block{$id} > * {margin:4px 6px;vertical-align:middle;}
#menu_block{$id} {clear:left;padding:5px 0px; width:auto;}
#details_block{$id}, #pages_block{$id}, .rppBlock {white-space:nowrap;padding:5px 7px;text-align:center;}
#recordcontrols_block{$id} {padding:13px 10px 9px 10px;text-align:left}
#record_controls{$id} > *,#newrecord_controls{$id} > * {margin:2px 2px;vertical-align:middle}
.listIcons img.listIcon{margin:0 3px;opacity:0.3;filter:alpha(opacity=30);}
.menuitem {padding:6px 18px 10px 13px}
.menuitem_active {padding:6px 18px 11px 13px}
.message_block {text-align:center;}
.grid_recordheader {padding-top:5px;}
.grid_recordheader a {margin:0 5px;}
#grid_block{$id} {margin-top:10px;}
.headerlist_right2 *,.headerlist * {vertical-align:middle}
body{margin:0px;padding:0px;}

#searchPanelContainer{$id}{
	width: 200px

}

/*report styles*/
#export_links{$id} * {padding:0}
</style>
{END style_block}
<!--[if IE]>
{BEGIN iestyle_block}
<style>
#right_block{$id} { width:100%}
.list_table, .list_table1,.grid  {height:100%;}
</style>
{END iestyle_block}
<![endif]-->
</head>

<body marginheight=0 marginwidth=0 {$bodyattrs}>
{BEGIN body}
{$header}
<div id="height100{$id}">
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
{BEGIN toplinks_block}
<div id="toplinks_block{$id}" class="upeditmenu">
<span><font style="FONT-FAMILY: Verdana, Arial;">{mlang_message LOGGED_AS}</font>&nbsp;<b>{$username}</b>&nbsp;</span>
<span class=buttonborder><input type=button class=button value="{mlang_message LOG_OUT}" {$logoutlink_attrs}></span>


{BEGIN changepwd_link}
<span class=buttonborder><input type=button class=button value="{mlang_message CHANGE_PASSWORD}" {$changepwdlink_attrs}></span>
{END changepwd_link}

{BEGIN asearch_link}
<span class=buttonborder><input type=button class=button value="{mlang_message ADVANCED_SEARCH}" {$asearchlink_attrs}></span>
{END asearch_link}


{BEGIN export_link}
<span class=buttonborder><input type=button class=button value="{mlang_message EXPORT_RESULTS}" {$exportlink_attrs}></span>
{END export_link}

{BEGIN print_link}
<span class=buttonborder><input type=button class=button value="{mlang_message PRINT_THIS_PAGE}" {$printlink_attrs}></span>
{END print_link}

{BEGIN printall_link}
<span class=buttonborder><input type=button class=button value="{mlang_message PRINT_ALL_PAGES}" {$printalllink_attrs}></span>
{END printall_link}

{BEGIN import_link}
<span class=buttonborder><input type=button class=button value="{mlang_message IMPORT}" {$importlink_attrs}></span>
{END import_link}


{BEGIN languages_block}
<span>
<b>{BEGIN lang_label}{mlang_message LANGUAGE}:{END lang_label}</b>&nbsp;
	<select {$langselector_attrs}>
		<option value="Chinese (Hong Kong S.A.R.)" {$Chinese__Hong_Kong_S_A_R___langattrs}>中文(繁體)(香港特別行政區)</option>
		<option value="English" {$English_langattrs}>English</option>
	</select>
</span>	
{END languages_block}
</div>
{END toplinks_block}

<div class="main_table_border2 main_table" id="global_block{$id}">
{BEGIN left_block}
<div id="left_block{$id}" >
    <b class="xtop"><b class="xb1b1"></b><b class="xb2b1"></b><b class="xb3b1"></b><b class="xb4b1"></b></b>
	<!-- MenuBegin -->
{BEGIN menu_block}
<div class="menu_table" id="menu_block{$id}">
<!-- MainMenuBegin -->
{$mainmenu}
<!-- MainMenuEnd -->
</div>
{END menu_block}
		
	<!-- MenuEnd -->	
	{BEGIN search_records_block}
	<div>
        		{BEGIN searchform}
        <div class="menu_table" id="search_block{$id}">
            <!-- search panel and window -->
            <style>
<!--
#center_block{$id}{
	padding: 5px;
}
#searchPanelHeader{$id}{
	padding: 5px 0px 5px 5px;
}
-->
</style>

<!-- search panel and window header -->
<div class="blackshade2" id="center_block{$id}">
	{mlang_message SEARCH_FOR}:
	{BEGIN searchPanelTopButtons}	
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="buttonborder"><input class="button" type="button" id="showSrchWin{$id}" style="width: 18px; background-image: url(images/search/showWindowPin.gif);" {$showHideSearchWin_attrs} ></span>
		&nbsp;		
		<span class="buttonborder"><input class="button" type="button" id="showOptPanel{$id}" style="width: 18px; background-image: url(images/search/showOptions.gif);" {$showHideSearchPanel_attrs} ></span>
	{END searchPanelTopButtons}
</div>
<div id="searchform{$id}">
	<div class="blackshade" id="searchPanelHeader{$id}">
		{$simpleSearchFieldCombo}
		
		{$simpleSearchTypeCombo}
		
		{BEGIN searchform_text}
			<input type=text {$searchfor_attrs} size="25">
		{END searchform_text}
		&nbsp;
		{BEGIN searchform_search}
			<span class="buttonborder"><input class="button" type="button" style="width: 18px; background-image: url(images/search/search.gif);" {$searchbutton_attrs} /></span>
		{END searchform_search}
		&nbsp;		
		{BEGIN searchform_showall}
			<span id="showall{$id}" class=buttonborder {$showAllCont_attrs}><input type=button class="button" value="{mlang_message SHOW_ALL}" {$showallbutton_attrs}></span>
		{END searchform_showall}
	</div>
</div>  
			<div id="searchPanelContainer{$id}" class="searchPanelContainer">			
				{$adv_search_panel}
			</div>                      
            
            <div class="blackshade2" id="details_block{$id}">
				                {BEGIN details_block}
                <span {$details_attrs}>{mlang_message DETAILS_FOUND}: {$records_found}</span>
                {END details_block}
            </div>
            <div class="menu_text blackshade" id="pages_block{$id}">
				                {BEGIN pages_block}
                <span {$pages_attrs}>{mlang_message PAGE1} {$page} {mlang_message PAGE2} {$maxpages}</span>
                {END pages_block}
            </div>
        </div>
		{END searchform}
		
        <div class="menu_table2">
						{BEGIN recordspp_block}
			<div class="menu_text blackshade rppBlock" align="center">
							{$recsPerPage}
            </div>
			{END recordspp_block}
        </div>
	</div>
	{END search_records_block}
</div>
{END left_block}

    <div id="right_block{$id}">
        
        
        <div class="list_table1" >
        <div class="list_table">
        
        <div class=blackshade2 id="center_block_caption{$id}">
        {$caption clients}
        </div>
        {BEGIN recordcontrols_block}
        <div class=blackshade id="recordcontrols_block{$id}">
	        {BEGIN newrecord_controls}
		<span id="newrecord_controls{$id}">
                {BEGIN add_link}
        <span class=buttonborder><input type=button class="button" value="{mlang_message ADD_NEW}" {$addlink_attrs}></span>
        {END add_link}

                </span>
		{END newrecord_controls}
		
		{$lookupSearchControls}
		
		{BEGIN record_controls}
		<span id="record_controls{$id}">
        
        
                {BEGIN deleteselected_link}
        <span class=buttonborder {$deleteselectedlink_span}><input type=button class="button" value="{mlang_message DELETE_SELECTED}" {$deleteselectedlink_attrs}></span>
        {END deleteselected_link}

                {BEGIN exportselected_link}
        <span class=buttonborder {$exportselectedlink_span}><input type=button class="button" value="{mlang_message EXPORT_SELECTED}" {$exportselectedlink_attrs}></span>
        {END exportselected_link}

                {BEGIN printselected_link}
        <span class=buttonborder {$printselectedlink_span}><input type=button class="button" value="{mlang_message PRINT_SELECTED}" {$printselectedlink_attrs}></span>
        {END printselected_link}
		</span>
		{END record_controls}
        </div>
        {END recordcontrols_block}
		<div class="message" id="usermessage{$id}">{$user_message}</div>
<div>
{BEGIN grid_block}
<div id="grid_block{$id}">
<table width="100%" name="maintable" border=0 cellpadding=3 cellspacing=0 class="data" id="clients">
{BEGIN grid_header}
<thead>
<tr valign="top" {$gridHeader_attrs}>
{BEGIN record_header}

{BEGIN listIcons_column}
	<th  align="center" class="headerlist" {$widthListIcons} nowrap="nowrap">&nbsp;</th>
{END listIcons_column}

{BEGIN checkbox_column}
<th width="20" align="center" class="headerlist">
<input type=checkbox {$checkboxheader_attrs}>
</th>
{END checkbox_column}


{BEGIN name_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN name_fieldheader}&nbsp;
<a class="tablelinks" {$name_orderlinkattrs}>
{$label clients name}</a>
&nbsp;
{END name_fieldheader}
</th>
{END name_fieldheadercolumn}
{BEGIN logo_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN logo_fieldheader}&nbsp;
<a class="tablelinks" {$logo_orderlinkattrs}>
{$label clients logo}</a>
&nbsp;
{END logo_fieldheader}
</th>
{END logo_fieldheadercolumn}
{BEGIN sn_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN sn_fieldheader}&nbsp;
<a class="tablelinks" {$sn_orderlinkattrs}>
{$label clients sn}</a>
&nbsp;
{END sn_fieldheader}
</th>
{END sn_fieldheadercolumn}
{BEGIN cp_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN cp_fieldheader}&nbsp;
<a class="tablelinks" {$cp_orderlinkattrs}>
{$label clients cp}</a>
&nbsp;
{END cp_fieldheader}
</th>
{END cp_fieldheadercolumn}
{BEGIN tn_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN tn_fieldheader}&nbsp;
<a class="tablelinks" {$tn_orderlinkattrs}>
{$label clients tn}</a>
&nbsp;
{END tn_fieldheader}
</th>
{END tn_fieldheadercolumn}
{BEGIN industry_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN industry_fieldheader}&nbsp;
<a class="tablelinks" {$industry_orderlinkattrs}>
{$label clients industry}</a>
&nbsp;
{END industry_fieldheader}
</th>
{END industry_fieldheadercolumn}
{BEGIN status_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN status_fieldheader}&nbsp;
<a class="tablelinks" {$status_orderlinkattrs}>
{$label clients status}</a>
&nbsp;
{END status_fieldheader}
</th>
{END status_fieldheadercolumn}
{BEGIN added_by_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN added_by_fieldheader}&nbsp;
<a class="tablelinks" {$added_by_orderlinkattrs}>
{$label clients added_by}</a>
&nbsp;
{END added_by_fieldheader}
</th>
{END added_by_fieldheadercolumn}
{BEGIN group_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN group_fieldheader}&nbsp;
<a class="tablelinks" {$group_orderlinkattrs}>
{$label clients group}</a>
&nbsp;
{END group_fieldheader}
</th>
{END group_fieldheadercolumn}
{BEGIN modified_date_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN modified_date_fieldheader}&nbsp;
<a class="tablelinks" {$modified_date_orderlinkattrs}>
{$label clients modified_date}</a>
&nbsp;
{END modified_date_fieldheader}
</th>
{END modified_date_fieldheadercolumn}

{BEGIN endrecordheader_block}
<th class="table_right"></th>
{END endrecordheader_block}
{END record_header}
</tr>
</thead>
{END grid_header}

<tbody>
{BEGIN grid_row}
<tr valign="top" {$rowstyle} {$rowattrs}>
{BEGIN grid_record}

{BEGIN listIcons_column}
	<td align="center" class="listIcons" valign="middle" iEditCont="all" nowrap="nowrap">
		{BEGIN edit_column}
	{BEGIN edit_link}
	<a class="tablelinks" {$editlink_attrs} title="{mlang_message EDIT}"><img class="listIcon" src="images/icon_edit_new.gif" align="middle" alt="{mlang_message EDIT}" border="0"></a>
	{END edit_link}
	{END edit_column}

	
	
		{BEGIN view_column}
	{BEGIN view_link}
	<a class="tablelinks" {$viewlink_attrs} title="{mlang_message VIEW}"><img class="listIcon" src="images/icon_view_new.gif" align="middle" alt="{mlang_message VIEW}" border="0"></a>
	{END view_link}
	{END view_column}
	</td>
{END listIcons_column}
	
{BEGIN checkbox_column}
<td align="center" valign="middle" width="20">
{BEGIN checkbox}
<input type="checkbox" {$checkbox_attrs}>
{END checkbox}
</td>
{END checkbox_column}


{BEGIN name_fieldcolumn}
<td valign="middle" class="borderbody" {$name_style}>
{$name_value}
</td>
{END name_fieldcolumn}
{BEGIN logo_fieldcolumn}
<td valign="middle" class="borderbody" {$logo_style}>
{$logo_value}
</td>
{END logo_fieldcolumn}
{BEGIN sn_fieldcolumn}
<td valign="middle" class="borderbody" {$sn_style}>
{$sn_value}
</td>
{END sn_fieldcolumn}
{BEGIN cp_fieldcolumn}
<td valign="middle" class="borderbody" {$cp_style}>
{$cp_value}
</td>
{END cp_fieldcolumn}
{BEGIN tn_fieldcolumn}
<td valign="middle" class="borderbody" {$tn_style}>
{$tn_value}
</td>
{END tn_fieldcolumn}
{BEGIN industry_fieldcolumn}
<td valign="middle" class="borderbody" {$industry_style}>
{$industry_value}
</td>
{END industry_fieldcolumn}
{BEGIN status_fieldcolumn}
<td valign="middle" class="borderbody" {$status_style}>
{$status_value}
</td>
{END status_fieldcolumn}
{BEGIN added_by_fieldcolumn}
<td valign="middle" class="borderbody" {$added_by_style}>
{$added_by_value}
</td>
{END added_by_fieldcolumn}
{BEGIN group_fieldcolumn}
<td valign="middle" class="borderbody" {$group_style}>
{$group_value}
</td>
{END group_fieldcolumn}
{BEGIN modified_date_fieldcolumn}
<td valign="middle" class="borderbody" {$modified_date_style}>
{$modified_date_value}
</td>
{END modified_date_fieldcolumn}

{BEGIN endrecord_block}
<td width=20 class="table_right" {$endrecordblock_attrs}>&nbsp;</td>
{END endrecord_block}
{END grid_record}
</tr>
{END grid_row}
</tbody>
	
</table>
</div>
{END grid_block}
</div>
{BEGIN message_block}
<div id="message_block{$id}" class="xboxcontentb message_block">
	{$message}
</div>
{END message_block}

{BEGIN pagination_block}
<div id="pagination_block{$id}" class="xboxcontentb message_block">{$pagination}</div>
{END pagination_block}

</div>
</div>
</div>
</div>
<b class="xbottom"><b class="xb4b"></b><b class="xb3b"></b><b class="xb2b"></b><b class="xb1b"></b></b>
</div>
{$footer}
{END body}
</body>
</html>

