<html {$html_attrs}>
<head><title>{$caption supplies}</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
{BEGIN style_block}
<style>
#center_block{$id} {width:500px;margin:0 auto;}
#contents_block{$id} {text-align:center;}
#header_block{$id} {white-space:nowrap;height:31px;padding-top:5px;text-align:center;}
#fields_block{$id} {width:100%;}
#fields_block{$id} td.es{padding:4px 10px;}
#buttons_block{$id} {padding-bottom:5px;white-space:nowrap;text-align:center;}
#required_block{$id} {text-align:left;padding:5px}
</style>

{END style_block}
</head>
<body {$bodyattrs}>
{BEGIN body}
{$header}

{BEGIN flybody}
<TABLE align="center" id="center_block{$id}" cellpadding=0 cellspacing=0><tr><td id="contents_block{$id}">
<div>
<div id="header_block{$id}" class="upeditmenu" >
{$caption supplies}, {mlang_message ADD_NEW_RECORD}
</div>

{BEGIN message_block}
<div id="message_block{$id}" class="downedit">{$message}</div>
{END message_block}

<table cellpadding="4" cellspacing="0" border="0" id="fields_block{$id}" align="center">
{BEGIN supply_mode_id_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN supply_mode_id_label}{$label supplies supply_mode_id}{END supply_mode_id_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$supply_mode_id_editcontrol}&nbsp;
		</td>
	</tr>
{END supply_mode_id_fieldblock}
{BEGIN support_type_id_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN support_type_id_label}{$label supplies support_type_id}{END support_type_id_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$support_type_id_editcontrol}&nbsp;
		</td>
	</tr>
{END support_type_id_fieldblock}
{BEGIN zone_id_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN zone_id_label}{$label supplies zone_id}{END zone_id_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$zone_id_editcontrol}&nbsp;
		</td>
	</tr>
{END zone_id_fieldblock}
{BEGIN district_id_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN district_id_label}{$label supplies district_id}{END district_id_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$district_id_editcontrol}&nbsp;
		</td>
	</tr>
{END district_id_fieldblock}
{BEGIN estate_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN estate_label}{$label supplies estate}{END estate_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$estate_editcontrol}&nbsp;
		</td>
	</tr>
{END estate_fieldblock}
{BEGIN area_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN area_label}{$label supplies area}{END area_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$area_editcontrol}&nbsp;
		</td>
	</tr>
{END area_fieldblock}
{BEGIN address_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN address_label}{$label supplies address}{END address_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$address_editcontrol}&nbsp;
		</td>
	</tr>
{END address_fieldblock}
{BEGIN unit_price_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN unit_price_label}{$label supplies unit_price}{END unit_price_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$unit_price_editcontrol}&nbsp;
		</td>
	</tr>
{END unit_price_fieldblock}
{BEGIN years_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN years_label}{$label supplies years}{END years_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$years_editcontrol}&nbsp;
		</td>
	</tr>
{END years_fieldblock}
{BEGIN ps_id_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN ps_id_label}{$label supplies ps_id}{END ps_id_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$ps_id_editcontrol}&nbsp;
		</td>
	</tr>
{END ps_id_fieldblock}
{BEGIN rc_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN rc_label}{$label supplies rc}{END rc_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$rc_editcontrol}&nbsp;
		</td>
	</tr>
{END rc_fieldblock}
{BEGIN hc_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN hc_label}{$label supplies hc}{END hc_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$hc_editcontrol}&nbsp;
		</td>
	</tr>
{END hc_fieldblock}
{BEGIN sf_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN sf_label}{$label supplies sf}{END sf_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$sf_editcontrol}&nbsp;
		</td>
	</tr>
{END sf_fieldblock}
{BEGIN height_id_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN height_id_label}{$label supplies height_id}{END height_id_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$height_id_editcontrol}&nbsp;
		</td>
	</tr>
{END height_id_fieldblock}
{BEGIN feature_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN feature_label}{$label supplies feature}{END feature_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$feature_editcontrol}&nbsp;
		</td>
	</tr>
{END feature_fieldblock}
{BEGIN remark_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN remark_label}{$label supplies remark}{END remark_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$remark_editcontrol}&nbsp;
		</td>
	</tr>
{END remark_fieldblock}
{BEGIN icon_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN icon_label}{$label supplies icon}{END icon_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$icon_editcontrol}&nbsp;
		</td>
	</tr>
{END icon_fieldblock}
{BEGIN pic1_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic1_label}{$label supplies pic1}{END pic1_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic1_editcontrol}&nbsp;
		</td>
	</tr>
{END pic1_fieldblock}
{BEGIN pic2_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic2_label}{$label supplies pic2}{END pic2_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic2_editcontrol}&nbsp;
		</td>
	</tr>
{END pic2_fieldblock}
{BEGIN pic3_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic3_label}{$label supplies pic3}{END pic3_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic3_editcontrol}&nbsp;
		</td>
	</tr>
{END pic3_fieldblock}
{BEGIN pic4_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic4_label}{$label supplies pic4}{END pic4_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic4_editcontrol}&nbsp;
		</td>
	</tr>
{END pic4_fieldblock}
{BEGIN pic5_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic5_label}{$label supplies pic5}{END pic5_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic5_editcontrol}&nbsp;
		</td>
	</tr>
{END pic5_fieldblock}
{BEGIN pic6_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic6_label}{$label supplies pic6}{END pic6_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic6_editcontrol}&nbsp;
		</td>
	</tr>
{END pic6_fieldblock}
{BEGIN pic7_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic7_label}{$label supplies pic7}{END pic7_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic7_editcontrol}&nbsp;
		</td>
	</tr>
{END pic7_fieldblock}
{BEGIN pic8_fieldblock}
	<tr>
		<td class="es editshade_b" width="150">
			{BEGIN pic8_label}{$label supplies pic8}{END pic8_label}
		</td>
		<td width="250" class="es editshade_lb">
			{$pic8_editcontrol}&nbsp;
		</td>
	</tr>
{END pic8_fieldblock}
</table>

<div class="toplist main_table2" id="buttons_block{$id}">
	{BEGIN legend}
	<div id="required_block{$id}" ><img src="images/icon_required.gif" alt="bullet"> - {mlang_message REQUIRED_FIELD}</div>
	{END legend}
	{$legendBreak}
	{BEGIN save_button}
	<span class=buttonborder><input class=button type=submit value="{mlang_message SAVE}" name=submit1 {$savebutton_attrs}></span>
	{END save_button}
	{BEGIN cancel_button}
	<span class=buttonborder><input class=button type=button value="{mlang_message CANCEL}" {$cancelbutton_attrs}></span>
	{END cancel_button}
	{BEGIN back_button}
	<span class=buttonborder><input class=button type=button value="{mlang_message BACK_TO_LIST}" {$backbutton_attrs}></span>
	{END back_button}
</div>
</div>
</td></tr>
</table>
{END flybody}

{BEGIN detail_tables}
{END detail_tables}
<br><br>
{$footer}
{END body}
</body>
</html>

