{
    "propel": {
        "paths": {
            "schemaDir": "\/Users\/alexmak\/Projects\/qbmob\/gals-getaway-in-bangkok-backend\/api",
            "phpDir": "\/Users\/alexmak\/Projects\/qbmob\/gals-getaway-in-bangkok-backend\/api\/classes"
        }
    }
}